#slideshow {
  background: #F6F5F2;
}
.slidev-layout {
  h1, h2, h3, h4, p, div {
    @apply select-text;
  }
  h1 {
    font-size: 3rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }

  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 2rem;
    margin-left: 2rem;
  }

  li {

    margin-left: 3rem;
    font-size: 1.5rem;
  }

  p {
    margin-left: 1.5rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  table {
    margin-left: 1.5rem;
    width: 90%;
  }

  pre {
    --slidev-code-background: #EEEDEB;
    margin-left: 1rem;
  }

  video {
    margin-left: 1rem;
  }
}
.slidev-layout.section {
  h1, p {
    margin-left: 0rem;
  }
}